body {
    background-color: rgb(3, 0, 17);
    color: blanchedalmond;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}